.buton .r1alrhcs {
  font-size: 13px;
  justify-content: start;
}
&.buton {
  padding: 7px 5px;
}
.buton {
  width: 100%;
  text-align: start;
}
.buton2.r1alrhcs{
  justify-content: start;
}
.buton2{

}
.mi-accordion-item .f199hnxi {
  margin-left: 0;
}
.mi-accordion-item .fkujibs {
  margin-right: 0;
}
.mi-accordion-item {
  display: flex;
  flex-direction: column;
  align-content: start;
}
/* .mi-accordion-item .fhovq9v {
    background-color: var(--colorSubtleBackground);
} */
.mi-accordion-item .fhovq9v {
  background-color: var(--colorSubtleBackground);
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar {
  padding-right: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #676969cb; /* Cambia el color según tus preferencias */
  border-radius: 6px;
}

.custom-scrollbar:hover ::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f1f1f1; /* Cambia el color según tus preferencias */
}

.borde .fui-FluentProviderr0 {
  background: #57909F
}
.but:hover {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2Hover);
}



.sidebar-container {
  transition: transform 2s ease-in-out; /* Transición de 0.3 segundos con función de temporización ease-in-out */
}

.reduced-size {
  transform: translateX(0%); /* Mueve el componente fuera de la pantalla cuando está reducido */
}

.original {
  transform: translateX(0); /* Restaura la posición original cuando está en modo original */
}

.reduced {
  transform: translateX(0%); /* Ajusta el desplazamiento cuando está en tamaño reducido */
}